<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="layouts/head"></th:block>
</head>
<body class="sidebar-collapse">
<th:block th:replace="layouts/nav"></th:block>
<div class="wrapper">
    <div class="page-header" filter-color="orange">
        <div class="page-header-image" data-parallax="true"
             style="background-image:url(/img/bg-landing-page.png)"></div>
        <div class="container">
            <div sec:authorize="isAnonymous()" class="content-center brand">
                <h1 class="h1-seo">SHOPPING LIST</h1>
                <h3> Simple web application made with Java, Spring, Thymeleaf and Hibernate with PostgreSQL.</h3>
                <div class="footer text-center">
                    <a href="/login">
                        <button class="btn btn-primary btn-round btn-lg btn-block">Get Started</button>
                    </a>
                </div>
            </div>
            <div sec:authorize="isAuthenticated()" class="content-center brand">
                <h1 class="h1-seo">Welcome, <span th:text="${name}"></span>!</h1>
                <h3> You are ready to manage your own shopping list.</h3>
                <div class="footer text-center">
                    <a href="/list">
                        <button class="btn btn-primary btn-round btn-lg btn-block">Check your shopping list</button>
                    </a>
                </div>
            </div>
        </div>
        <th:block th:replace="layouts/footer"></th:block>
    </div>
</div>
</body>
<th:block th:replace="layouts/scripts"></th:block>
</html>