<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="layouts/head">Head</th:block>
</head>
<body class="sidebar-collapse"
      style="background-size: cover;
      background: url(/img/sl-bg2.jpg) no-repeat center center fixed; min-height: 100vh">

<th:block th:replace="layouts/nav">Nav</th:block>

<div class="wrapper">
    <th:block th:replace="layouts/notification">Notifications</th:block>
    <div class="section align-middle" style="background-color: transparent; padding-top: 100px">
        <div class="container">
            <div class="row justify-content-center align-self-center text-light">
                <div class="col-md-4">
                    <h2 class="title text-center">Your lists</h2>
                    <div th:if="${lists.isEmpty()}">
                        <h5>You have no lists.</h5>
                    </div>
                    <form action="list/add" method="post">
                        <table>
                            <tr>
                                <td>
                                    <input type="text" id="name" name="name" required placeholder="Type new list name here."
                                           class="form-control" style="width: 200px"/>
                                </td>
                                <td>
                                    <button class="btn btn-icon btn-warning btn-round" style="width: 85px"
                                            type="submit">
                                        <i class="now-ui-icons ui-1_simple-add"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>

                    <table th:each="list : ${lists}" class="table-condensed">
                        <tr>
                            <td>

                                <a th:href="@{'/list/'+ ${list.id}}">
                                    <button
                                            class="btn btn-primary btn-round btn-block" style="width: 200px; font-weight: bold;">
                                        <span th:text="${#strings.toUpperCase(list.name)
                                        +' ['+list.getUndoneSize()+'/'+list.getTotalSize()+']'}"></span>
                                    </button>
                                </a>
                            </td>
                            <td>
                                <form th:action="@{'/list/remove/'+ ${list.id}}" method="post">
                                    <button class="btn btn-icon btn-danger btn-round" style="width: 85px"
                                            type="button" data-toggle="modal"
                                            th:attr="data-target='#deleteModal'+${list.getId()}">
                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                    </button>
                                    <!--modal------------->
                                    <div class="modal fade" th:id="'deleteModal'+${list.getId()}" tabindex="-1"
                                         role="dialog"
                                         th:attr="aria-labelledby='deleteModalLabel'+${list.getId()}"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h3 class="modal-title" style="color: #2c2c2c"
                                                        th:id="'deleteModalLabel'+${list.getId()}">Remove</h3>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body" style="color: #2c2c2c">
                                                    Are you sure you want to remove the list named "<span
                                                        th:text="${#strings.toUpperCase(list.name)}"></span>"?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">No, sorry.
                                                    </button>
                                                    <button type="submit" class="btn btn-danger">Yes, remove it.</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end of modal-->
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <th:block th:replace="layouts/footer">Footer</th:block>
        </div>
    </div>
</div>
</body>
<th:block th:replace="layouts/scripts">Scripts</th:block>
</html>