<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="layouts/head">Head</th:block>
</head>
<body class="sidebar-collapse"
      style="background-size: cover;
      background: url(/img/sl-bg2.jpg) no-repeat center center fixed; min-height: 100vh">

<th:block th:replace="layouts/nav">Nav</th:block>

<div class="wrapper">
    <th:block th:replace="layouts/notification">Notifications</th:block>
    <div class="section align-middle" style="background-color: transparent; padding-top: 100px">
        <div class="container">
            <div class="row justify-content-center align-self-center text-light">
                <div class="col-md-4">
                    <h2 class="title text-center">Your lists</h2>
                    <div th:if="${lists.isEmpty()}">
                        <h5>You have no lists.</h5>
                    </div>
                    <form action="list/add" method="post">
                        <table>
                            <tr>
                                <td>
                                    <input type="text" id="name" name="name" required
                                           placeholder="Type new list name here."
                                           class="form-control" style="width: 250px"/>
                                </td>
                                <td>
                                    <button class="btn btn-icon btn-warning btn-round"
                                            type="submit">
                                        <i class="now-ui-icons ui-1_simple-add"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>

                    <table th:each="list : ${lists}" class="table-condensed">
                        <tr>
                            <td>

                                <a th:href="@{'/list/'+ ${list.id}}">
                                    <button
                                            class="btn btn-primary btn-round btn-block"
                                            style="width: 245px; font-weight: bold;">
                                        <span th:text="${#strings.toUpperCase(list.name)
                                        +' ['+list.getUndoneSize()+'/'+list.getTotalSize()+']'}"></span>
                                    </button>
                                </a>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a href="" class="btn btn-icon btn-default btn-round"
                                       data-toggle="dropdown" id="navbarDropdownMenuLink1">
                                        <i class="now-ui-icons design_bullet-list-67"></i>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                                        <li class="nav-item dropdown">
                                            <a class="dropdown-item" data-toggle="modal"
                                               th:attr="data-target='#renameModal'+${list.getId()}">
                                                Rename
                                            </a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="dropdown-item" data-toggle="modal"
                                               th:attr="data-target='#deleteModal'+${list.getId()}">
                                                Remove
                                            </a>
                                        </li>
                                    </ul>
                                    <!--RENAME MODAL-START-->
                                    <div class="modal fade" th:id="'renameModal'+${list.getId()}" tabindex="-1"
                                         role="dialog"
                                         th:attr="aria-labelledby='renameModalLabel'+${list.getId()}"
                                         aria-hidden="true">
                                        <form th:action="@{'/list/rename'}" method="post">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h3 class="modal-title" style="color: #2c2c2c"
                                                            th:id="'renameModalLabel'+${list.getId()}">List rename</h3>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body" style="color: #2c2c2c">
                                                        Please provide new name for this list.
                                                    </div>

                                                    <input type="hidden" id="id" name="id"
                                                           th:value="${list.getId()}">
                                                    <input type="text" id="name" name="name" required
                                                           placeholder="Type new name here."
                                                           class="form-control" style="margin: 15px; width: auto"/>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">
                                                            Never mind
                                                        </button>
                                                        <button type="submit" class="btn btn-danger">
                                                            Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!--RENAME MODAL-END-->
                                    <!--REMOVE MODAL-START-->
                                    <div class="modal fade" th:id="'deleteModal'+${list.getId()}" tabindex="-1"
                                         role="dialog"
                                         th:attr="aria-labelledby='deleteModalLabel'+${list.getId()}"
                                         aria-hidden="true">
                                        <form th:action="@{'/list/remove/'+ ${list.id}}" method="post">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h3 class="modal-title" style="color: #2c2c2c"
                                                            th:id="'deleteModalLabel'+${list.getId()}">Remove</h3>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body" style="color: #2c2c2c">
                                                        Are you sure you want to remove the list named "<span
                                                            th:text="${#strings.toUpperCase(list.name)}"></span>"?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">
                                                            No, sorry.
                                                        </button>
                                                        <button type="submit" class="btn btn-danger">
                                                            Yes, remove it.
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!--REMOVE-MODAL-END-->
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <th:block th:replace="layouts/footer">Footer</th:block>
        </div>
    </div>
</div>
</body>
<th:block th:replace="layouts/scripts">Scripts</th:block>
</html>