<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="layouts/head"></th:block>
    <link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
</head>
<body>
<div class="text-center">

    <form th:action="@{/login}" method="post" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="userName" name="username" placeholder="Email address" autofocus="autofocus"
               class="form-control"/> <br/>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" class="form-control"/> <br/>
        <div th:if="${error}" class="alert alert-danger" role="alert">Wrong username or password</div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    </form>
</div>


</body>
</html>