<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="layouts/head"></th:block>
</head>
<body>

<th:block th:replace="layouts/nav"></th:block>

<div class="form-group" style="align-items: center; display: flex; justify-content: center;">
    <form th:action="@{/login}" method="post" class="form-signin">
        <h1>Please log in</h1>
        <br/>
        <label for="username" class="sr-only">Username</label>
        <input type="email" id="username" name="username" placeholder="Email address" autofocus="autofocus" class="form-control"/>
        <br/>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" class="form-control"/> <br/>

        <button class="btn-secondary" type="submit">Log in</button>
    </form>
</div>
</body>
</html>