<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="layouts/head">Head</th:block>
</head>
<body class="login-page sidebar-collapse"
      style="background-size: cover; background: url(/img/sl-bg2.jpg) no-repeat center center fixed;
min-height: 100vh">

<th:block th:replace="layouts/nav">Nav</th:block>

<div class="wrapper">
    <th:block th:replace="layouts/notification">Notification</th:block>
    <div class="section align-middle" style="background-color: transparent; padding-top: 100px">
        <div class="container">
            <div class="row justify-content-center align-self-center">
                <div class="card card-login card-plain">
                    <div class="header header-primary text-center d-none d-lg-block">
                        <div class="logo-container">
                            <img src="/img/sl-logo-basket-small.png" alt="Shopping list">
                        </div>
                    </div>
                    <form th:action="@{/password-recovery}" method="post" class="form">
                        <div class="content">
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons users_circle-08"></i>
                                </span>
                                <input type="email" id="username" name="username" placeholder="Email address"
                                       autofocus="autofocus" class="form-control" required/>
                            </div>
                            <div class="footer text-center">
                                <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">
                                    Reset your password
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="layouts/footer"></th:block>
</div>
</body>
<th:block th:replace="layouts/scripts"></th:block>
</html>