<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="layouts/head">Head</th:block>
</head>
<body class="sidebar-collapse"
      style="background-size: cover; background: url(/img/sl-bg2.jpg) no-repeat center center fixed;
min-height: 100vh">

<th:block th:replace="layouts/nav">Nav</th:block>

<div class="wrapper">
    <th:block th:replace="layouts/notification">Notifications</th:block>
    <div class="section align-middle" style="background-color: transparent; padding-top: 100px">
        <div class="container">
            <div class="row justify-content-center align-self-center text-light">
                <div class="col-5">
                    <form th:action="@{/profile-edit}" method="post" class="form">
                        <h2 class="title text-center">Profile</h2>
                        <input type="hidden" id="id" name="id" th:value="${user.id}">
                        <table class="table">
                            <tr>
                                <td scope="row" style="font-weight: bold">E-mail:</td>
                                <td th:text="${user.username}">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row" style="font-weight: bold">Name:</td>
                                <td scope="col">
                                    <input type="text" id="name" name="name" required th:value="${user.name}"
                                           class="form-control bg-light"/>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row" style="font-weight: bold">Last name:</td>
                                <td scope="col">
                                    <input type="text" id="lastName" name="lastName" required th:value="${user.lastName}"
                                           class="form-control bg-light"/>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row" style="font-weight: bold">Registration date:</td>
                                <td scope="col" th:text="${#temporals.format(user.createdAt, 'dd-MM-yyyy')}"></td>
                            </tr>
                            <tr>
                        </table>
                        <div class="row justify-content-center align-self-center text-light">
                            <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Save changes
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <th:block th:replace="layouts/footer"></th:block>
</div>
</body>
<th:block th:replace="layouts/scripts"></th:block>
</html>